/* Introduction to Microcontrollers */

.intro-microcontrollers {
    background-color: #f9f9ff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.intro-microcontrollers h3 {
    font-size: 1.8rem;
    color: #424067;
    margin-bottom: 15px;
}

.intro-microcontrollers p {
    font-size: 1rem;
    color: #545454;
    line-height: 1.6;
    margin-bottom: 20px;
}

.intro-microcontrollers ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

.intro-microcontrollers ul li {
    font-size: 1rem;
    color: #545454;
    line-height: 1.6;
}